.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
android/.gradle/
android/app/src/debug/
android/app/src/profile/
android/app/src/main/AndroidManifest.xml
android/local.properties
android/gradle.properties
android/settings.gradle
android/captures/
ios/Pods/
ios/.generated/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/Release.xcconfig
ios/Flutter/Debug.xcconfig
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
windows/Flutter/ephemeral/
web/.dart_tool/
web/.packages

.vscode/

.idea/

*.iml
*.log
*.swp
*.lock
*.tmp

pubspec.lock

# Environment variables
.env
